@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
body {
    margin: 20px; /* Default margin for mobile */
    padding: 0;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) { /* Adjust the breakpoint as needed */
    body {
      margin: 100px; /* Margin for desktop */
    }
  }
  
  * {
    box-sizing: inherit;
  }